USE [master]
GO
/****** Object:  Database [TiendaDeMRD]    Script Date: 6/12/2025 1:40:15 a. m. ******/
CREATE DATABASE [TiendaDeMRD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaDeMRD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaDeMRD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaDeMRD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaDeMRD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaDeMRD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaDeMRD]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 6/12/2025 1:40:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NULL,
	[Descripcion] [varchar](500) NULL,
	[IdMarca] [int] NULL,
	[IdCategoria] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[RutaImagen] [varchar](100) NULL,
	[NombreImagen] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRITO]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListarCarrito]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ListarCarrito](@IdCliente INT)
RETURNS TABLE
AS
RETURN
(
    SELECT c.IdProducto, p.Nombre, p.Precio, c.Cantidad,
           (p.Precio * c.Cantidad) AS Total,
           p.NombreImagen, p.RutaImagen, m.Descripcion AS Marca
    FROM Carrito c
    INNER JOIN Producto p ON c.IdProducto = p.IdProducto
    INNER JOIN Marca m ON p.IdMarca = m.IdMarca
    WHERE c.IdCliente = @IdCliente
);
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](150) NULL,
	[Reestablecer] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[IdUsuario] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[IdDepartamento] [varchar](2) NOT NULL,
	[Descripcion] [varchar](45) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[IdDistrito] [varchar](6) NOT NULL,
	[Descripcion] [varchar](45) NOT NULL,
	[IdProvincia] [varchar](4) NOT NULL,
	[IdDepartamento] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[IdProvincia] [varchar](4) NOT NULL,
	[Descripcion] [varchar](45) NOT NULL,
	[IdDepartamento] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioAdmin]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioAdmin](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](150) NULL,
	[Reestablecer] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[Rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioNormal]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioNormal](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Clave] [nvarchar](256) NOT NULL,
	[Restablecer] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[TotalProducto] [int] NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[Contacto] [varchar](50) NULL,
	[IdDistrito] [varchar](10) NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](500) NULL,
	[IdTransaccion] [varchar](50) NULL,
	[FechaVenta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioAdmin_Correo]    Script Date: 6/12/2025 1:40:16 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UsuarioAdmin_Correo] ON [dbo].[UsuarioAdmin]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioNormal_Correo]    Script Date: 6/12/2025 1:40:16 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UsuarioNormal_Correo] ON [dbo].[UsuarioNormal]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((0)) FOR [Reestablecer]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MARCA] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MARCA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuarioAdmin] ADD  DEFAULT ((1)) FOR [Reestablecer]
GO
ALTER TABLE [dbo].[UsuarioAdmin] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuarioAdmin] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuarioAdmin] ADD  DEFAULT ('Cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[UsuarioNormal] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuarioNormal] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UsuarioNormal] ADD  DEFAULT ('Cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[VENTA] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_UsuarioNormal] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioNormal] ([IdUsuario])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_Cliente_UsuarioNormal]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MARCA] ([IdMarca])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCantidadCarrito]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarCantidadCarrito]
    @IdCliente INT,
    @IdProducto INT,
    @Delta INT
AS
BEGIN
    UPDATE Carrito
    SET Cantidad = Cantidad + @Delta
    WHERE IdCliente = @IdCliente AND IdProducto = @IdProducto;

    IF EXISTS (SELECT 1 FROM Carrito WHERE Cantidad <= 0)
        DELETE FROM Carrito WHERE Cantidad <= 0 AND IdCliente = @IdCliente AND IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarClaveCliente]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarClaveCliente]
    @IdCliente INT,
    @NuevaClave VARCHAR(100)
AS
BEGIN
    UPDATE UsuarioNormal
    SET Clave = @NuevaClave
    WHERE IdUsuario = @IdCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarClaveUsuarioAdmin]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarClaveUsuarioAdmin]
    @IdUsuario INT,
    @Clave     VARCHAR(256),
    @Resultado INT OUTPUT,
    @Mensaje   VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE UsuarioAdmin
        SET Clave = @Clave
        WHERE IdUsuario = @IdUsuario;

        SET @Resultado = @IdUsuario;
        SET @Mensaje = 'OK';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuarioNormal]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuarioNormal]
    @IdUsuario INT,
    @Nombres NVARCHAR(100),
    @Apellidos NVARCHAR(100),
    @Clave NVARCHAR(256),
    @Resultado BIT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE UsuarioNormal
        SET Nombres = @Nombres,
            Apellidos = @Apellidos,
            Clave = @Clave
        WHERE IdUsuario = @IdUsuario;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Resultado = 1;
            SET @Mensaje = 'Cliente actualizado correctamente.';
        END
        ELSE
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se encontró el cliente.';
        END
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CantidadCarrito]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CantidadCarrito]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT SUM(Cantidad) AS TotalCantidad
    FROM Carrito
    WHERE IdCliente = @IdCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarCategoria]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Editar categoría
CREATE PROCEDURE [dbo].[SP_EditarCategoria]
(
    @IdCategoria INT,
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Resultado BIT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0

    IF EXISTS (SELECT * FROM Categoria WHERE IdCategoria = @IdCategoria)
    BEGIN
        UPDATE Categoria
        SET Descripcion = @Descripcion,
            Activo = @Activo
        WHERE IdCategoria = @IdCategoria

        SET @Resultado = 1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarMarca]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_EditarMarca]
    @IdMarca INT,
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Normalizar descripción
    SET @Descripcion = RTRIM(LTRIM(@Descripcion));

    -- Validar duplicado (excluyendo el mismo IdMarca)
    IF EXISTS (
        SELECT 1 FROM Marca
        WHERE UPPER(RTRIM(LTRIM(Descripcion))) = UPPER(@Descripcion)
        AND IdMarca <> @IdMarca
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otra marca con esa descripción';
        RETURN;
    END

    -- Actualizar marca
    UPDATE Marca
    SET Descripcion = @Descripcion,
        Activo = @Activo
    WHERE IdMarca = @IdMarca;

    SET @Resultado = 1;
    SET @Mensaje = '';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarProducto]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_EditarProducto]
    @IdProducto INT,
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(200),
    @IdMarca INT,
    @IdCategoria INT,
    @Precio DECIMAL(10,2),
    @Stock INT,
    @Activo BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @Nombre = RTRIM(LTRIM(@Nombre));

    -- Validar duplicado (excluyendo el mismo producto)
    IF EXISTS (
        SELECT 1 FROM Producto
        WHERE UPPER(RTRIM(LTRIM(Nombre))) = UPPER(@Nombre)
        AND IdProducto <> @IdProducto
    )
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'Ya existe otro producto con ese nombre';
        RETURN;
    END

    -- Actualizar producto
    UPDATE Producto
    SET Nombre = @Nombre,
        Descripcion = @Descripcion,
        IdMarca = @IdMarca,
        IdCategoria = @IdCategoria,
        Precio = @Precio,
        Stock = @Stock,
        Activo = @Activo
    WHERE IdProducto = @IdProducto;

    SET @Resultado = 1;
    SET @Mensaje = '';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarUsuario]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarUsuario]
(
    @IdUsuario INT,
    @Apellidos VARCHAR(100),
    @Correo VARCHAR(100),
    @Nombres VARCHAR(100),
    @Activo BIT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET @Resultado = 0;
    SET @Mensaje = '';

    IF NOT EXISTS (SELECT * FROM USUARIO WHERE Correo = @Correo AND IdUsuario != @IdUsuario)
    BEGIN
        UPDATE USUARIO
        SET Nombres = @Nombres,
            Apellidos = @Apellidos,
            Correo = @Correo,
            Activo = @Activo
        WHERE IdUsuario = @IdUsuario;

        SET @Resultado = 1;
    END
    ELSE
    BEGIN
        SET @Mensaje = 'El correo del usuario ya existe';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarUsuarioAdmin]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditarUsuarioAdmin]
    @IdUsuario INT,
    @Nombres   VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Correo    VARCHAR(100),
    @Activo    BIT,
    @Rol       VARCHAR(20),
    @Resultado INT OUTPUT,
    @Mensaje   VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE UsuarioAdmin
        SET Nombres   = @Nombres,
            Apellidos = @Apellidos,
            Correo    = @Correo,
            Activo    = @Activo,
            Rol       = @Rol
        WHERE IdUsuario = @IdUsuario;

        SET @Resultado = @IdUsuario;
        SET @Mensaje = 'OK';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCarrito]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCarrito]
    @IdCliente INT,
    @IdProducto INT
AS
BEGIN
    DELETE FROM Carrito WHERE IdCliente = @IdCliente AND IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCategoria]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar categoría
CREATE PROCEDURE [dbo].[SP_EliminarCategoria]
(
    @IdCategoria INT,
    @Resultado BIT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0

    IF EXISTS (SELECT * FROM Categoria WHERE IdCategoria = @IdCategoria)
    BEGIN
        DELETE FROM Categoria
        WHERE IdCategoria = @IdCategoria

        SET @Resultado = 1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCliente]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarCliente]
    @IdCliente INT,
    @Resultado BIT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM Cliente WHERE IdCliente = @IdCliente;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Resultado = 1;
            SET @Mensaje = 'Cliente eliminado correctamente.';
        END
        ELSE
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se encontró el cliente con ese ID.';
        END
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarMarca]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar marca
CREATE PROCEDURE [dbo].[SP_EliminarMarca]
(
    @IdMarca INT,
    @Resultado BIT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0

    IF EXISTS (SELECT * FROM Marca WHERE IdMarca = @IdMarca)
    BEGIN
        DELETE FROM Marca
        WHERE IdMarca = @IdMarca

        SET @Resultado = 1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProducto]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_EliminarProducto]
    @IdProducto INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM Producto
        WHERE IdProducto = @IdProducto;

        -- Opcional: devolver filas afectadas
        IF @@ROWCOUNT > 0
        BEGIN
            PRINT 'Producto eliminado correctamente.';
        END
        ELSE
        BEGIN
            PRINT 'No se encontró el producto.';
        END
    END TRY
    BEGIN CATCH
        -- Captura de errores
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @IdUsuario INT,
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE TOP (1) FROM USUARIO WHERE IdUsuario = @IdUsuario;

        SET @Resultado = 1;
        SET @Mensaje = 'Usuario eliminado correctamente';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuarioAdmin]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarUsuarioAdmin]
    @IdUsuario INT,
    @Resultado INT OUTPUT,
    @Mensaje   VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE UsuarioAdmin
        SET Activo = 0
        WHERE IdUsuario = @IdUsuario;

        SET @Resultado = @IdUsuario;
        SET @Mensaje = 'UsuarioAdmin desactivado correctamente';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuarioNormal]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarUsuarioNormal]
    @IdUsuario INT,
    @Resultado INT OUTPUT,
    @Mensaje   VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE UsuarioNormal
        SET Activo = 0
        WHERE IdUsuario = @IdUsuario;

        SET @Resultado = @IdUsuario;
        SET @Mensaje = 'UsuarioNormal desactivado correctamente';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExisteCarrito]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExisteCarrito]
    @IdCliente INT,
    @IdProducto INT,
    @Resultado BIT OUTPUT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Carrito WHERE IdCliente = @IdCliente AND IdProducto = @IdProducto)
        SET @Resultado = 1
    ELSE
        SET @Resultado = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GuardarDatosImagenProducto]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GuardarDatosImagenProducto]
    @IdProducto INT,
    @RutaImagen VARCHAR(500),
    @NombreImagen VARCHAR(100),
    @Resultado BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE PRODUCTO
        SET RutaImagen = @RutaImagen,
            NombreImagen = @NombreImagen
        WHERE IdProducto = @IdProducto;

        SET @Resultado = 1;
        SET @Mensaje = 'Imagen actualizada correctamente';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCategorias]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Listar categorías
CREATE PROCEDURE [dbo].[SP_ListarCategorias]
AS
BEGIN
    SELECT IdCategoria, Descripcion, Activo
    FROM Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMarcas]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Listar marcas



CREATE PROCEDURE [dbo].[SP_ListarMarcas]
AS
BEGIN
    SELECT IdMarca, Descripcion, Activo
    FROM Marca
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT p.IdProducto,
           p.Nombre,
           p.Descripcion,
           p.Precio,
           p.Stock,
           p.RutaImagen,
           p.NombreImagen,
           p.Activo,
           p.FechaRegistro,
           c.IdCategoria,
           c.Descripcion AS CategoriaDescripcion,
           m.IdMarca,
           m.Descripcion AS MarcaDescripcion
    FROM Producto p
    INNER JOIN Categoria c ON p.IdCategoria = c.IdCategoria
    INNER JOIN Marca m ON p.IdMarca = m.IdMarca;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OperacionCarrito]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OperacionCarrito]
    @IdCliente INT,
    @IdProducto INT,
    @Cantidad INT,
    @Resultado BIT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el producto exista en la tabla PRODUCTO
    IF EXISTS (SELECT 1 FROM PRODUCTO WHERE IdProducto = @IdProducto)
    BEGIN
        -- Verificar si ya existe el producto en el carrito del cliente
        IF EXISTS (
            SELECT 1 
            FROM Carrito 
            WHERE IdCliente = @IdCliente AND IdProducto = @IdProducto
        )
        BEGIN
            -- Si existe, acumular cantidad
            UPDATE Carrito
            SET Cantidad = ISNULL(Cantidad,0) + @Cantidad
            WHERE IdCliente = @IdCliente AND IdProducto = @IdProducto;

            SET @Resultado = 1;
            SET @Mensaje = 'Cantidad actualizada correctamente';
        END
        ELSE
        BEGIN
            -- Si no existe, insertar nuevo registro
            INSERT INTO Carrito (IdCliente, IdProducto, Cantidad)
            VALUES (@IdCliente, @IdProducto, @Cantidad);

            SET @Resultado = 1;
            SET @Mensaje = 'Producto agregado al carrito';
        END
    END
    ELSE
    BEGIN
        -- Si el producto no existe, lanzar error controlado
        SET @Resultado = 0;
        SET @Mensaje = 'El producto no existe en la tabla PRODUCTO';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarCategoria]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Registrar categoría
CREATE PROCEDURE [dbo].[SP_RegistrarCategoria]
(
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0

    IF NOT EXISTS (SELECT * FROM Categoria WHERE Descripcion = @Descripcion)
    BEGIN
        INSERT INTO Categoria(Descripcion, Activo)
        VALUES(@Descripcion, @Activo)

        SET @Resultado = SCOPE_IDENTITY()
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCliente]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarCliente]
    @Nombres NVARCHAR(100),
    @Apellidos NVARCHAR(100),
    @Correo NVARCHAR(100),
    @Clave NVARCHAR(64),
    @Resultado INT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM CLIENTE WHERE LTRIM(RTRIM(LOWER(Correo))) = LTRIM(RTRIM(LOWER(@Correo))))
    BEGIN
        SET @Resultado = 0;
        SET @Mensaje = 'El correo ya está registrado.';
        RETURN;
    END

    INSERT INTO CLIENTE (Nombres, Apellidos, Correo, Clave)
    VALUES (@Nombres, @Apellidos, @Correo, @Clave);

    SET @Resultado = SCOPE_IDENTITY();
    SET @Mensaje = 'Registro exitoso.';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarMarca]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_RegistrarMarca]
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @IdGenerado INT OUTPUT,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Normalizar descripción
    SET @Descripcion = RTRIM(LTRIM(@Descripcion));

    -- Validar duplicado (case-insensitive)
    IF EXISTS (
        SELECT 1 FROM Marca
        WHERE UPPER(RTRIM(LTRIM(Descripcion))) = UPPER(@Descripcion)
    )
    BEGIN
        SET @IdGenerado = 0;
        SET @Mensaje = 'Ya existe una marca con esa descripción';
        RETURN;
    END

    -- Insertar nueva marca
    INSERT INTO Marca (Descripcion, Activo)
    VALUES (@Descripcion, @Activo);

    SET @IdGenerado = SCOPE_IDENTITY();
    SET @Mensaje = '';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarProducto]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_RegistrarProducto]
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(200),
    @IdMarca INT,
    @IdCategoria INT,
    @Precio DECIMAL(10,2),
    @Stock INT,
    @Activo BIT,
    @IdGenerado INT OUTPUT,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Normalizar nombre
    SET @Nombre = RTRIM(LTRIM(@Nombre));

    -- Validar duplicado
    IF EXISTS (
        SELECT 1 FROM Producto
        WHERE UPPER(RTRIM(LTRIM(Nombre))) = UPPER(@Nombre)
    )
    BEGIN
        SET @IdGenerado = 0;
        SET @Mensaje = 'Ya existe un producto con ese nombre';
        RETURN;
    END

    -- Insertar producto
    INSERT INTO Producto (Nombre, Descripcion, IdMarca, IdCategoria, Precio, Stock, Activo)
    VALUES (@Nombre, @Descripcion, @IdMarca, @IdCategoria, @Precio, @Stock, @Activo);

    SET @IdGenerado = SCOPE_IDENTITY();
    SET @Mensaje = '';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]  
    @Nombres NVARCHAR(50),  
    @Apellidos NVARCHAR(50),  
    @Correo NVARCHAR(100),  
    @Clave NVARCHAR(64),   -- ← nuevo parámetro  
    @Activo BIT,  
    @Resultado INT OUTPUT,  
    @Mensaje NVARCHAR(500) OUTPUT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    IF EXISTS (SELECT * FROM Usuario WHERE Correo = @Correo)  
    BEGIN  
        SET @Resultado = 0;  
        SET @Mensaje = 'El correo ya existe';  
    END  
    ELSE  
    BEGIN  
        INSERT INTO Usuario(Nombres, Apellidos, Correo, Clave, Activo)  
        VALUES(@Nombres, @Apellidos, @Correo, @Clave, @Activo);  
  
        SET @Resultado = SCOPE_IDENTITY();  
        SET @Mensaje = '';  
    END  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuarioAdmin]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarUsuarioAdmin]
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Correo VARCHAR(100),
    @Clave VARCHAR(256),
    @Activo BIT,
    @Rol VARCHAR(20),
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO UsuarioAdmin (Nombres, Apellidos, Correo, Clave, Activo, Rol)
        VALUES (@Nombres, @Apellidos, @Correo, @Clave, @Activo, @Rol);

        SET @Resultado = SCOPE_IDENTITY();
        SET @Mensaje = 'OK';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuarioNormal]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarUsuarioNormal]
    @Nombres     NVARCHAR(100),
    @Apellidos   NVARCHAR(100),
    @Correo      NVARCHAR(255),
    @Clave       NVARCHAR(256),
    @Resultado   INT OUTPUT,
    @Mensaje     NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Normalizar correo para comparación
        DECLARE @correoNorm NVARCHAR(255) = LTRIM(RTRIM(LOWER(@Correo)));

        -- Validar duplicado real en UsuarioNormal
        IF EXISTS (SELECT 1 FROM dbo.UsuarioNormal WHERE LTRIM(RTRIM(LOWER(Correo))) = @correoNorm)
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = N'El correo ya está registrado.';
            RETURN;
        END

        -- Insertar nuevo usuario normal
        INSERT INTO dbo.UsuarioNormal (Nombres, Apellidos, Correo, Clave, Restablecer)
        VALUES (@Nombres, @Apellidos, @Correo, @Clave, NULL);

        SET @Resultado = CAST(SCOPE_IDENTITY() AS INT);
        SET @Mensaje = N'OK';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarVenta]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarVenta]  
    @IdCliente INT,  
    @Contacto NVARCHAR(100),  
    @Telefono NVARCHAR(100),  
    @Direccion NVARCHAR(200),  
    @IdTransaccion NVARCHAR(100),  
    @IdDistrito NVARCHAR(100),  
    @IdVenta INT OUTPUT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    BEGIN TRY  
        BEGIN TRANSACTION;  

        -- Validar que el carrito tenga productos
        IF NOT EXISTS (SELECT 1 FROM Carrito WHERE IdCliente = @IdCliente)
        BEGIN
            RAISERROR('El carrito está vacío, no se puede registrar la venta.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insertar cabecera de venta
        INSERT INTO Venta (IdCliente, TotalProducto, MontoTotal, Contacto, IdDistrito, Telefono, Direccion, IdTransaccion, FechaVenta)  
        VALUES (@IdCliente, 0, 0, @Contacto, @IdDistrito, @Telefono, @Direccion, @IdTransaccion, GETDATE());  

        SET @IdVenta = SCOPE_IDENTITY();  

        -- Insertar detalle desde carrito
        INSERT INTO DetalleVenta (IdVenta, IdProducto, Cantidad, PrecioUnitario)  
        SELECT @IdVenta, c.IdProducto, c.Cantidad, p.Precio  
        FROM Carrito c  
        INNER JOIN Producto p ON c.IdProducto = p.IdProducto  
        WHERE c.IdCliente = @IdCliente;  

        -- Calcular totales
        DECLARE @TotalProducto INT = ISNULL((SELECT SUM(Cantidad) FROM DetalleVenta WHERE IdVenta = @IdVenta),0);  
        DECLARE @MontoTotal DECIMAL(18,2) = ISNULL((SELECT SUM(Cantidad * PrecioUnitario) FROM DetalleVenta WHERE IdVenta = @IdVenta),0);  

        -- Actualizar venta
        UPDATE Venta  
        SET TotalProducto = @TotalProducto,  
            MontoTotal = @MontoTotal  
        WHERE IdVenta = @IdVenta;  

        -- Vaciar carrito
        DELETE FROM Carrito WHERE IdCliente = @IdCliente;  

        COMMIT TRANSACTION;  

        SELECT @IdVenta AS IdVenta, @IdTransaccion AS IdTransaccion;  
    END TRY  
    BEGIN CATCH  
        ROLLBACK TRANSACTION;  
        THROW;  
    END CATCH  
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteDashboard]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteDashboard]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        (SELECT COUNT(*) FROM Cliente) AS TotalClientes,
        (SELECT ISNULL(SUM(Cantidad), 0) FROM DetalleVenta) AS TotalVentas,
        (SELECT COUNT(*) FROM Producto) AS TotalProductos;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentas]    Script Date: 6/12/2025 1:40:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteVentas]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @IdTransaccion NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        v.FechaVenta,
        (c.Nombres + ' ' + c.Apellidos) AS Cliente,
        p.Nombre AS Producto,
        dv.PrecioUnitario AS Precio,
        dv.Cantidad,
        (dv.PrecioUnitario * dv.Cantidad) AS Total,
        v.IdTransaccion
    FROM Venta v
    INNER JOIN Cliente c ON c.IdCliente = v.IdCliente
    INNER JOIN DetalleVenta dv ON dv.IdVenta = v.IdVenta   -- ✅ nombre corregido
    INNER JOIN Producto p ON p.IdProducto = dv.IdProducto
    WHERE 
        (@FechaInicio IS NULL OR v.FechaVenta >= @FechaInicio)
        AND (@FechaFin IS NULL OR v.FechaVenta <= @FechaFin)
        AND (@IdTransaccion IS NULL OR v.IdTransaccion = @IdTransaccion)
    ORDER BY v.FechaVenta DESC;
END
GO
USE [master]
GO
